kind: Service
apiVersion: v1
metadata:
  name: nginx-service
  namespace: nginx
spec:
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80          # Port on the Service 
      targetPort: 80   # Port on the Pod
  type: ClusterIP

  